build/
compile_commands.json
backend/build/
backend/config/app.json
backend/data/db/*.sqlite3
backend/data/db/*.sqlite3-*
backend/data/images/*
!backend/data/db/.gitkeep
!backend/data/images/.gitkeep
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
logs/*
backend/logs/*
.DS_Store
