build/
compile_commands.json
backend/build/
backend/config/app.json
backend/data/*
!backend/data/db/
!backend/data/images/
backend/data/db/*
backend/data/images/*
!backend/data/db/.gitkeep
!backend/data/images/.gitkeep
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
logs/*
backend/logs/*
.DS_Store
.claude/*
docs/*
